<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flat JSON format for data tables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="demo/demo.css">
</head>
<body ng-app="myApp" ng-controller="myAppController" ng-cloak>
<nav class="navbar navbar-default">
    <div class="container">
        <span class="navbar-brand">Angular Data Grid &mdash; Bootstrap</span>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown" style="position: relative;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Change theme <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="index.html">Bootstrap</a>
                    </li>
                    <li>
                        <a href="demo/material.html">Material Design</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control order-search-box"
                   placeholder="Search By Order #"
                   ng-change="gridActions.filter()"
                   ng-model="code"
                   filter-by="code"
                   filter-type="text">
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="{{format}}"
                       min-date="dateFrom"
                       max-date="dateTo"
                       close-text="Close"
                       ng-model="dateFrom"
                       show-weeks="true"
                       is-open="dateFromOpened"
                       ng-click="dateFromOpened = true"
                       filter-by="placed"
                       filter-type="dateFrom"
                       placeholder="From"
                       ng-blur="gridActions.filter()"
                       ng-focus="gridActions.filter()"
                       show-weeks="false"
                       close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
            <div ng-show="dateTo || dateFrom" class="buttons-right">
                <a href="" ng-click="dateTo = ''; dateFrom = ''; reloadGrid();">Clear Dates</a>
            </div>
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="{{format}}"
                       min-date="dateFrom"
                       max-date="dateTo"
                       close-text="Close"
                       ng-model="dateTo"
                       show-weeks="true"
                       is-open="dateToOpened"
                       ng-click="dateToOpened = true"
                       filter-by="placed"
                       filter-type="dateTo"
                       placeholder="To"
                       ng-blur="gridActions.filter()"
                       ng-focus="gridActions.filter()"
                       show-weeks="false"
                       close-text="Close">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                <div class="row margin-bottom-big">
                    <strong class="col-md-12">
                        found : {{filtered.length}} items
                    </strong>
                </div>
                <table class="table table-hover table-leo table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th sortable="code" class="sortable">
                            Order #
                        </th>
                        <th sortable="placed" class="sortable">
                            Date Placed
                        </th>
                        <th class="st-sort-disable th-dropdown">
                            <select class="form-control width-15"
                                    filter-by="statusDisplay"
                                    filter-type="select"
                                    ng-model="status"
                                    ng-change="filter()">
                                <option value="">All Statuses</option>
                                <option ng-repeat="option in statusOptions track by option.value"
                                        value="{{option.value}}">{{option.text}}
                                </option>
                            </select>
                        </th>
                        <th sortable='total.value' class="sortable">
                            Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr grid-item>
                        <td>
                            <span ng-bind="item.code"></span>
                        </td>
                        <td ng-bind="item.placed | date:'MM/dd/yyyy'"></td>
                        <td ng-bind="item.statusDisplay"></td>
                        <td ng-bind="item.total.formattedValue"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row text-center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="row text-center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="row text-center">
                    <div grid-item-per-page="10, 25, 50, 75" class="pagination-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="dist/pagination.min.js"></script>
<script src="dist/dataGrid.min.js"></script>
<script src="demo/demoApp.js"></script>

</html>