th:focus,
a:focus {
  outline: none; }

.codepen-wrap {
  margin-top: 15px; }

.mdl-data-table {
  width: 100%; }
  .mdl-data-table th {
    cursor: pointer; }

.mdl-data-table tr {
  transition: none !important; }

th md-select {
  margin: 0; }

.md-errors-spacer {
  display: none; }

.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block; }
  .pagination > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0; }
    .pagination > li:first-child {
      border-left: 1px solid #ddd;
      border-radius: 2px 0 0 2px; }
    .pagination > li:last-child {
      border-radius: 0 2px 2px 0; }
  .pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none; }
  .pagination .active {
    background: #3f51b5;
    border-color: #3f51b5; }
    .pagination .active a {
      color: #fff; }
  .pagination-page.active {
    background: #3f51b5; }
    .pagination-page.active a {
      color: #fff; }

.sortable .arrow {
  position: relative;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

.sortable.sort-ascent .arrow {
  top: -10px;
  left: 5px;
  border-bottom: 4px solid #757575; }

.sortable.sort-descent .arrow {
  top: 10px;
  left: 5px;
  border-top: 4px solid #757575; }
