@import 'variables';
table {
  border-collapse: collapse;
  border-spacing: 0;

  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
:focus {
  outline: none;
}
.pagination {
  display: inline-block;
  box-sizing: border-box;
}
.pagination > li{
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 30px;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
}
.pagination a {
  color: $textColor;
  font-size: 16px;
  padding: 0 10px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  .md-ripple-container {
    border-radius: 2px;
  }
}
.pagination-none-svg {
  svg {
    display: none !important;
  }
  .pagination-prev,
  .pagination-next,
  .pagination-first,
  .pagination-last {
    a {
      width: 30px;
      text-align: center;
      line-height: 24px;
    }
  }
}
.pagination-page {
  transition: background .1s ease-out, color .1s ease-out;
  &.active {
    background: $activeBg;
    a {
      color: $activeText;
    }
  }
}
.pagination {
  transition: background .1s ease-out, color .1s ease-out;
  .active {
    background: $activeBg;
    a {
      color: $activeText;
    }
  }
}
.table {
  td {
    border-top: 1px rgba(0,0,0,.12) solid;
    padding: 12px 24px;
  }
  th {
    padding: 12px 24px;
    border-top: 1px rgba(0,0,0,.12) solid;
  }
}
th.sortable {
  line-height: 24px;
  svg {
    height: 18px;
    width: 18px;
    margin: 0 4px;
    transition: fill .25s,-webkit-transform .25s;
    transition: fill .25s,transform .25s;
    vertical-align: middle;
    display: none !important;
  }
  padding-right: 31px;
  &.sort-descent {
    padding-right: 0;
    svg {
      display: inline-block !important;
    }
  }
  &.sort-ascent {
    padding-right: 0;
    svg {
      display: inline-block !important;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.items-per-page {
  .active {
    background: $activeBg;
    a {
      color: $activeText;
    }
  }
  a {
    cursor: pointer;
  }
}