@import 'variables';
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 16px;
  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.pagination {
  transition: background .1s ease-out, color .1s ease-out;
  & > li{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    position: relative;
    border-radius: 2px;
  }
  a {
    color: $foregroundDefault;
    font-size: 16px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
  }
  .active {
    background: $backgroundActive;
    a {
      color: $foregroundActive;
    }
  }
  &-page {
    transition: background .1s ease-out, color .1s ease-out;
    &.active {
      background: $backgroundActive;
      a {
        color: $foregroundActive;
      }
    }
  }
}
.table {
  td, th {
    border-top: 1px rgba(0,0,0,.12) solid;
    padding: 12px 24px;
  }
}
.items-per-page {
  .active {
    background: $backgroundActive;
    a {
      color: $foregroundActive;
    }
  }
  a {
    cursor: pointer;
  }
}

.pagination-prev,
.pagination-next,
.pagination-first,
.pagination-last {
  a {
    font-size: 0;
    width: 30px;
    position: relative;
    &:before {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      transform-origin:center;
      border-left: 2px solid $backgroundIcons;
      border-bottom: 2px solid $backgroundIcons;
    }
  }
}
.pagination-first,
.pagination-last {
  a:after {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto 0;
    width: 2px;
    height: 14px;
    background: $backgroundIcons;
  }
}

.pagination-prev a {
  &:before {
    transform: rotate(45deg);
  }
}
.pagination-next a {
  &:before {
    transform: rotate(-135deg);
  }
}
.pagination-first a {
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    left: 4px;
  }
}
.pagination-last a {
  &:before {
    transform: rotate(-135deg);
  }
  &:after {
    right: 4px;
  }
}